:root {
  font-size: 10px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 24px;
  --fs-xl: 28px;
  --bg-color: #ffffff;
  --main-color: #00355c;
  --sub-color: #2496ea;
  --text-color: #011e49;
  --sub-text-color: #edf7ff;
  --kakao-share-color: #391b1b;
  --button-share-color: #757575;
  --progress-back-color: #ece9e9;
  --button-back-color: #F1F3FD;
}
