:root {
  font-size: 10px;
  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-db: 20px;
  --fs-lg: 24px;
  --fs-xl: 28px;
  --fs-mx: 40px;
  --bg-color: #ffffff;
  --main-color: #00355c;
  --sub-color: #2496ea;
  --text-color: #011e49;
  --sub-text-color: #edf7ff;
  --kakao-text-color: #391b1b;
  --kakao-back-color: #fae301;
  --button-share-color: #757575;
  --progress-back-color: #ece9e9;
  --button-back-color: #f1f3fd;
  --result-back-color: #86c7ff;
  --result-name-color: #00528e;
}
